<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="redisCacheClient" type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Extensions.Core" />
    <section name="ApplicationUptimeUrls" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

  </configSections>

  <redisCacheClient allowAdmin="true" ssl="True" connectTimeout="5000" database="0" password="LeUbw9qnUipwc1gcgD8UUtHWxSU0puCI7NtOEg9g3QE=">
    <hosts>
      <add host="appzone.redis.cache.windows.net" cachePort="6380" />
    </hosts>
  </redisCacheClient>
  <ApplicationUptimeUrls>
    <add key="CreditClub_Uptime_Live" value="http://10.1.1.12/creditclubsimulator/webservices/AppMonitoringService.svc" />
    <add key="BankOneMobile_Uptime_Live" value="http://10.1.1.12/mobilesimulator/webservices/AppMonitoringService.svc" />
  </ApplicationUptimeUrls>
  <appSettings>
    <add key="ABServiceMonitoringSuccessStatus" value="Successful" />
    <add key="BANKONEAPI" value="http://10.5.0.5:9020/apis/bankone/" />
    <add key="BANKONEWEBAPI" value="https://api.mybankone.com/BankOneWebApi/api/" />
    <add key="RedisConnection" value="appzone.redis.cache.windows.net:6380,password=LeUbw9qnUipwc1gcgD8UUtHWxSU0puCI7NtOEg9g3QE=,abortConnect=false,ssl=True" />
    <add key="InfluxDBUrl" value="http://10.5.0.10:8086" />
    <add key="InfluxDBUserName" value="admin" />
    <add key="InfluxDBPassword" value="rootroot" />
    <add key="TimerInterval" value="10" />
    <add key="MobileTechnicalFailureCodes" value="06,20,91,30,96,013,014,023,024," />
    <add key="TestInstitutionCodes" value="000000,100700,200001,5" />
    <add key="IntegrationFIs" value="100633,100061, 100127, 100589, 100488" />
    <add key="InstitutionSpecificTechnicalSuccessCodes" value="100636:00,_05,_51,_54,55,12,75,114;000000:00,51" />
    <add key="PublisherUrl" value="http://10.5.0.5:9020/apis/bankone/publisher/PublishTo" />
    <add key="shouldPublishToRedis" value="true" />
    <add key="timeTakenThreshold" value="5000" />
  </appSettings>
  
</configuration>